<!--::regervation_part start::-->
<section class="about" id="about">
  
    <div class="image">
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/about-img.jpg" alt="" style="width: 80%;">
            </div>
            <div class="col-lg-6" style="margin-top: -30px;">
                <section class="footer">
  
                    <div class="box-container">
                        <div class="box">
                            <h3 style="font-size: 50px; margin-left: -10%;"> <span style="color: red;">Display</span> User</h3><br>
                            
                            <div class="single_blog_text text-center">
                                <h3>{{user.firstName}} {{user.lastName}}</h3>
                                <p>{{user.email}}</p>
                                <p>{{user.role}}</p>
                                <p *ngIf="user.role=='Trainers'">{{user.speciality}}</p>
                                <p *ngIf="user.role=='Trainers'">{{user.experience}}</p>
                               
                            </div>
                        </div>
                
                    </div>
                
                </section>
               
            </div>
        </div>
    </div>

</section>

  
  <!--::regervation_part end::-->


