
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-banner></app-banner>
  <app-footer></app-footer>  

  
  
  <!-- header section ends     -->
  <!-- ************************************* -->

  
  <!-- ************************************* -->
 

  
 
  
  <!-- ********************************** -->

  <!-- **************************************** -->
  
  <!-- about section ends -->
  
 
  
  <!-- features section ends -->
  
 
  
  <!-- pricing section ends -->
  
 
  
  <!-- trainers section ends -->



<!-- classes section ends -->
  
 
  
  <!-- banner section ends -->
  
  <!-- review section starts  -->
  
  <!-- <section class="review">
  
      <div class="information">
          <span>testimonials</span>
          <h3>what our clients says</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat, excepturi odit obcaecati a voluptatibus earum quisquam?</p>
          <a href="#" class="btn">read more</a>
      </div>
  
      <div class="swiper review-slider">
  
          <div class="swiper-wrapper">
  
              <div class="swiper-slide slide">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                  <div class="user">
                      <img src="assets/images/pic-1.png" alt="">
                      <div class="info">
                          <h3>john deo</h3>
                          <span>designer</span>
                      </div>
                      <i class="fas fa-quote-left"></i>
                  </div>
              </div>
  
              <div class="swiper-slide slide">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                  <div class="user">
                      <img src="assets/images/pic-2.png" alt="">
                      <div class="info">
                          <h3>john deo</h3>
                          <span>designer</span>
                      </div>
                      <i class="fas fa-quote-left"></i>
                  </div>
              </div>
  
              <div class="swiper-slide slide">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                  <div class="user">
                      <img src="assets/images/pic-3.png" alt="">
                      <div class="info">
                          <h3>john deo</h3>
                          <span>designer</span>
                      </div>
                      <i class="fas fa-quote-left"></i>
                  </div>
              </div>
  
              <div class="swiper-slide slide">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                  <div class="user">
                      <img src="assets/images/pic-4.png" alt="">
                      <div class="info">
                          <h3>john deo</h3>
                          <span>designer</span>
                      </div>
                      <i class="fas fa-quote-left"></i>
                  </div>
              </div>
  
          </div>
  
      </div>
  
  </section> -->
  <!-- ************************************ -->
  <!-- ************************************* -->
  <!-- review section ends -->
  
  <!-- blogs section starts  -->
  
  <!-- <section class="blogs" id="blogs">
  
      <h1 class="heading"> <span>daily posts</span> </h1>
  
      <div class="swiper blogs-slider">
  
          <div class="swiper-wrapper">
  
              <div class="swiper-slide slide" style="width:30% ;">
                  <div class="image">
                      <img src="assets/images/blog-1.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                      <h3>fitness is not about being better than someone else</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>
                      <a href="#" class="btn">read more</a>
                  </div>
              </div>
              
              <div class="swiper-slide slide" style="width:30% ;">
                  <div class="image">
                      <img src="assets/images/blog-2.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                      <h3>fitness is not about being better than someone else</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>
                      <a href="#" class="btn">read more</a>
                  </div>
              </div>
  
              <div class="swiper-slide slide" style="width:30% ;">
                  <div class="image">
                      <img src="assets/images/blog-3.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                      <h3>fitness is not about being better than someone else</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>
                      <a href="#" class="btn">read more</a>
                  </div>
              </div>
  
              <div class="swiper-slide slide" style="width:30% ;">
                  <div class="image">
                      <img src="assets/images/blog-4.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                      <h3>fitness is not about being better than someone else</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>
                      <a href="#" class="btn">read more</a>
                  </div>
              </div>
  
              <div class="swiper-slide slide" style="width:30% ;">
                  <div class="image">
                      <img src="assets/images/blog-5.jpg" alt="">
                  </div>
                  <div class="content">
                      <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                      <h3>fitness is not about being better than someone else</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>
                      <a href="#" class="btn">read more</a>
                  </div>
              </div>
  
          </div>
  
          <div class="swiper-pagination"></div>
  
      </div>
     


  
  </section> -->
  
  <!-- blogs section ends -->
  
  <!-- footer section starts  -->
  
 
  
  <!-- <div class="credit"> created by <span>mr. web designer</span> | all rights reserved! </div> -->
  
  <!-- footer section ends -->
  
  
  
  
  
  
  
  
  
  
  
  
  
 